<p-toast key="tst"></p-toast>
<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Welcome!
                    </div>
                    <span class="text-600 font-medium">
                        Sign in to continue
                    </span>
                </div>

                <form [formGroup]="formGroup">
                    <label
                        for="username"
                        class="block text-900 text-xl font-medium mb-2"
                        >Username</label
                    >
                    <input
                        id="username"
                        formControlName="username"
                        type="text"
                        placeholder="Enter username"
                        pInputText
                        class="w-full md:w-30rem mb-4"
                        style="padding: 1rem"
                    />

                    <div
                        *ngIf="
                            formGroup.get('username')?.invalid &&
                            formGroup.get('username')?.touched
                        "
                        class="error-form-login"
                    >
                        Username required
                    </div>

                    <label
                        for="password"
                        class="block text-900 font-medium text-xl mb-2"
                        >Password</label
                    >
                    <p-password
                        id="password"
                        formControlName="password"
                        placeholder="Enter password"
                        [toggleMask]="true"
                        [feedback]="false"
                        styleClass="mb-5"
                        inputStyleClass="w-full p-3 md:w-30rem"
                    ></p-password>

                    <div
                        *ngIf="
                            formGroup.get('password')?.invalid &&
                            formGroup.get('password')?.touched
                        "
                        class="error-form-login"
                    >
                        Password required
                    </div>

                    <div
                        class="flex align-items-center justify-content-between mb-3 gap-5"
                    ></div>
                    <button
                        pButton
                        pRipple
                        label="Sign In"
                        class="w-full p-3 text-xl"
                        *ngIf="!loading && !isLogin"
                        [disabled]="!formGroup.valid"
                        (click)="login()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        class="w-full p-3 text-xl btn-flex-center"
                        *ngIf="loading"
                    >
                        <i
                            class="pi pi-spin pi-spinner"
                            style="font-size: 2rem"
                        ></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
