.btn-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-form-login {
    margin-bottom: 22px;
    color: red;
}

.logo-top {
    width:60%; 
    height: 60%; 
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    .logo-top {
        width:80%; 
        height: 80%; 
        object-fit: cover;
    }
}